.blogId{
  width: 90%;
  margin: 20vh auto;
}

.blogIdTitle{
  font-size: 3rem;
}
.blogIdDescription{
  font-size: 1.5rem;
  line-height: 2rem;
}
Button{
  padding: 3rem;
}

.deleteButton, .editButton {
  margin: 1rem;
}